.synopsis-container {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.synopsis-card {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 25px;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.synopsis-card img {
    width: 180px;
    border-radius: 10px;
}

.synopsis-card h2 {
    margin-bottom: 10px;
}

.synopsis-card p {
    line-height: 1.6;
}

/* Responsive */
@media (max-width: 650px) {
    .synopsis-card {
        flex-direction: column;
        text-align: center;
    }

    .synopsis-card img {
        width: 100%;
        max-width: 350px;
    }
}